<div class ="gmap">
  <h2>Map!</h2>

  <input id="address" type="textbox" value="encode">
  <input type="button" value="検索" onclick="codeAddress()">
  <!-- 地図情報を保存するフォーム -->
  <%= form_for @map do |f| %>
  <!-- 検索値を隠しデータとして送信-->
  <input type="hidden" name="map[address]" id="hidden_address">
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>
  <%= f.label :comment, "コメント" %>
  <%= f.text_field :comment %>
  <%= f.submit "保存" %>
  <% end %>
  <div id='map'>
  </div>
  <%= render @maps %>
</div>


<script>
let map
let marker

function initMap(){
  geocoder = new google.maps.Geocoder()

  mapInstance = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.681428, lng:139.767093},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 35.681428, lng:139.767093},
    map: mapInstance
  });

  
  <% @maps.each do |map| %>
    pos = new google.maps.LatLng(
    <%=map.latitude%>,
    <%=map.longitude%>
    );
    default_marker = new google.maps.Marker({
    map: mapInstance,
    position: pos,
    icon: {
    url: ' https://maps.google.com/mapfiles/ms/icons/green-dot.png',
    scaledSize: new google.maps.Size(40, 40)
    }
    });
  <% end %>

}

let geocoder

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      mapInstance.setCenter(results[0].geometry.location);
      if(marker !=null){
        marker.setMap(null)
      }
      marker = null;
      marker = new google.maps.Marker({
          map: mapInstance,
          position: results[0].geometry.location
      });
      let title = document.getElementById('map_title');
        title.setAttribute("value", inputAddress);
      let hidden_address = document.getElementById('hidden_address');
      hidden_address.setAttribute("value", inputAddress);

    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUTRlQPedRbflYmw6ueVt6t-kcZPpt7ig&callback=initMap&library=drawing" async defer></script>
