<div class="park">
  <h1><%= @map.address %></h1>
  <img src="<%= "/park_image/#{@map.id}.jpg" %>" > 

  <div class="post-box">
    <p>ようこそ<%= @user.name %>さん、見つけた生き物を投稿しよう！</p>
    <%= form_for(@post, :multipart => true, url: {controller: 'maps', action: 'create' }) do |f| %>
          <%= f.hidden_field :user_id, :value => @user.id %>
          <%= f.hidden_field :park_id, :value => @map.id %>
          <%= f.text_area :content, class:"text-box" %>
          
          <%= f.file_field :img, class: "file-box" %>
          <%= f.submit :value => "投稿する", class: "submit-box" %>
         
    <% end %>
  </div>
</div>


<div class="time-line">
  <% @posts.each do |posts| %>
    <div class="row col-xl post-index-item">
      <p class="time-line-name" ><%= posts.user_id %></p>
      <p class="time-line-text" ><%= posts.content %></p>
      <img src="<%= "#{posts.img}" %>" class="time-line-image">
    </div>
  <% end %>
</div>



  
 









<%= link_to("戻る",index_path) %>
