<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<p>
  <strong>Location:</strong>  <%= @map.latitude %>, <%= @map.longitude %>
</p>

<p>
  <strong>Hours:</strong>
  <% @map.operation_hours.each do |day| %>
    <li><%= day.day.titleize %> - <%= day.hours %>
  <% end %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>